{% extends "base.html" %}
{% block title %}Inventory Manager{% endblock %}
{% block maincontent %}
{% if box %}
<h2>Edit Box</h2>
{% else %}
<h2>New Box</h2>
{% endif %}
<form class="container two-col" action="" method="post">
    <label for="box-name">Name:</label>
    <input type="text" name="box-name" id="box-name" required{% if box %} value="{{ box.name }}"{% endif %}>
    <label for="box-loc">Location:</label>
    <select name="box-loc" id="box-loc" required>
        <option value=""></option>
        {% if box %}
            {% for i in locations %}
            <option value="{{ i.id_ }}"{% if box.loc_id == i.id_ %} selected{% endif %}>{{ i.name }}</option>
            {% endfor %}
        {% else %}
            {% for i in locations %}
            <option value="{{ i.id_ }}">{{ i.name }}</option>
            {% endfor %}
        {% endif %}
    </select>

    <button class="ok fillboth" type="submit">Save</button>
    <a class="fillboth button" href="{{ url_for('im.view') }}" class="button">Cancel</a>
</form>
{% if box %}
<a href="{{ url_for('im.edit_location', location_id=box.loc_id) }}" class="button">Edit Location '{{ box.location.name }}'</a>
{% endif %}
{% endblock %}
