flask==1.1.4
flask-sqlalchemy==2.5.1
flask-login==0.5.0
flask_sockets==0.2.1
greenlet==1.1.1
gevent==21.8.0
gunicorn==20.1.0
pillow==8.3.2
msgpack==1.0.4
gevent-websocket==0.10.1
pydantic[dotenv]==1.8.*
