{% extends "base.html" %}
{% block title %}HW Manager - New{% endblock %}
{% block maincontent %}
<div class="container down">
    <form class="container two-col" id="hw_form" action="{{ url_for('hwm.new_homework') }}" method="POST">
        <label for="message">Message:</label>
        <input type="text" name="message" id="message" required>
        <label for="datedue">Date Due:</label>
        <input type="date" name="datedue" id="datedue" required>
        <button type="button" class="button fillboth" onclick="new_task()">New Task</button>
        <div class="fillboth down" id="created_tasks">
            <!-- where new tasks are added -->
        </div>
        <button class="button ok fillboth" type="submit">Save</button>
        <a class="button fillboth" href="{{ url_for('hwm.homework') }}">Close</a>
    </form>
</div>
{% endblock %}
