{% extends "base.html" %}
{% block title %}HW Manager - View Tasks{% endblock %}
{% block maincontent %}
<a href="{{ url_for('hwm.homework') }}" class="button">Back</a>
<a href="{{ url_for('hwm.remove_homework') + '?homework_id=' + hw_id|string }}" class="button">Remove Homework</a>
<button class="button ok" onclick="window.location = `{{ url_for('hwm.new_homework_task') + '?homework_id=' + hw_id|string }}`">New Task</button>

<table>
    <caption>Homework: {{ hw_id }}</caption>
    <thead>
        <tr>
            <th>id</th>
            <th>content</th>
        </tr>
    </thead>
    <tbody>
        {% for i in tasks %}
        <tr>
            <td>{{ i.id_ }}</td>
            <td>{{ i.content }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
