{% extends "base.html" %}
{% block title %}HWM1 View Homework{% endblock %}
{% block maincontent %}
<div class="container down">
    <a href="{{ url_for('hwm.homework') + '?showremoved=1' }}" class="button">Show Removed</a>
    <a href="{{ url_for('hwm.new_homework') }}" class="button ok">New Homework</a>

    <table>
        <tr>
            <td>id</td>
            <td>comment</td>
            <td>datedue</td>
        </tr>
        {% for i in due_homework %}
        <tr onclick="window.location = `{{ url_for('hwm.homework_tasks') + '?homework_id=' + i.id_|string }}`">
            <!-- /hwm/view-tasks?homework_id={{ i.id_ }} -->
            <td>{{ i.id_ }}</td>
            <td>{{ i.message }}</td>
            <td>{{ i.get_day_first_date() }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
