{% extends "base.html" %}
{% block title %}HW Manager - View Homework{% endblock %}
{% block maincontent %}
<a href="{{ url_for('hwm.homework') + '?showremoved=1' }}" class="button">Show Removed</a>
<a href="{{ url_for('hwm.new_homework') }}" class="button ok">New Homework</a>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>comment</th>
            <th>datedue</th>
        </tr>
    </thead>
    <tbody>
        {% for i in due_homework %}
        <tr onclick="window.location = `{{ url_for('hwm.homework_tasks') + '?homework_id=' + i.id_|string }}`">
            <!-- /hwm/view-tasks?homework_id={{ i.id_ }} -->
            <td>{{ i.id_ }}</td>
            <td>{{ i.message }}</td>
            <td>{{ i.get_day_first_date() }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
