:root {
  --main-background: #e6e6e6;
  --content-background: rgb(196, 196, 196);
  --border-col: rgb(121, 121, 121);
  --dark-text: #000000;
  --light-text: #ffffff;
  --bnt-col: #a7a7a7;
  --green: #007800;
  --orange: #ff9900;
  --blue: #2195f3;
  --red: #f44437;
  --b-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background: #152020;
    --content-background: #1a1a1a;
    --border-col: rgb(48, 48, 48);
    --dark-text: #e9e9e9;
    --light-text: #e9e9e9;
    --bnt-col: #3b3b3b;
    --green: #015801;
    --orange: #c27400;
    --blue: #1e76be;
    --red: #b4281e;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
select,
textarea {
  color: var(--dark-text);
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

h1,
h2,
h3 {
  margin: 0;
  color: var(--dark-text);
  font-family: "Roboto", sans-serif;
  text-align: center;
}

body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-background);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

nav #datetime {
  font-size: 2em;
}

nav :last-child {
  margin-left: auto;
}

header {
  margin-bottom: 12px;
}

a {
  text-decoration: none;
  color: #004781;
}

a:visited {
  color: #002b4e;
}

button,
a {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.popup {
  position: fixed;
  z-index: 1;
  padding: 20px;
  left: 0;
  top: 0;
  height: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.84);
}

.container,
form,
table {
  padding: 10px;
  background-color: var(--content-background);
  border-radius: var(--b-radius);
  margin-bottom: 12px;
}

.fill {
  width: 100%;
  padding: 0;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
}

.down {
  display: flex;
  flex-direction: column;
}

.two-col {
  display: grid;
  grid-template-columns: max-content auto;
}

.two-col .fillboth {
  grid-column: 1 / span 2;
}

form fieldset {
  border: none;
}

textarea,
form input,
form select {
  padding: 4px;
  border: 1px solid var(--border-col);
  color: var(--dark-text);
  background-color: var(--bnt-col);
}

.alert {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  border-radius: var(--b-radius);
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--light-text);
  margin-top: 10px;
  margin-bottom: 10px;
}

.error {
  background-color: var(--red);
}

.warning {
  background-color: var(--orange);
}

.ok {
  background-color: var(--green);
}

.alert.message {
  background-color: var(--blue);
}

button,
.button {
  border: none;
  background-color: var(--bnt-col);
  padding: 6px 10px;
  border-radius: var(--b-radius);
  cursor: pointer;
  text-align: center;
  margin: 5px;
  color: var(--dark-text);
}

.button:focus {
  outline-width: thick;
}

.button:visited {
  color: inherit;
}

button.ok,
.button.ok {
  background-color: var(--green);
  color: white;
}

button.cancel,
.button.cancel {
  background-color: #780000;
  color: white;
}

button:hover,
.button:hover {
  transition-duration: 500ms;
  background-color: black;
  color: white;
}

#backhome {
  font-size: 3em;
  float: left;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

form#login {
  padding: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto auto;
}

form#login h2 {
  margin-top: 0;
}

table {
  margin-left: 4px;
  margin-right: 4px;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: var(--content-background);
}

table thead tr th,
table tbody tr td {
  padding: 4px;
}

table tbody tr:hover {
  cursor: pointer;
  transition-duration: 500ms;
  background-color: black;
  color: var(--light-text);
}

table tbody td {
  border: 2px solid var(--border-col);
}

table tbody tr td:first-child {
  border-left: none;
}

table tbody tr td:last-child {
  border-right: none;
}

table thead tr {
  font-weight: bold;
  text-align: left;
}

table tbody tr:last-child td {
  border-bottom: 4px solid var(--border-col);
}

table.plain tbody tr {
  cursor: initial;
  background-color: inherit;
  color: inherit;
}

#idle {
  text-align: center;
}

#idle #datetime {
  font-size: 15vw;
}

@media(max-width:800px) {
  body {
    width: 98%;
  }
}

@media(max-width: 710px) {
  nav {
    flex-direction: column;
    gap: 1vh;
    align-items: stretch;
  }

  nav :first-child {
    text-align: center;
  }

  nav :last-child {
    margin-left: unset;
  }
}

/* loading spinner */
.spinload {
  border: 5px solid rgb(243, 243, 243);
  border-radius: 50%;
  border-top: 5px solid var(--blue);
  width: 50px;
  height: 50px;
  animation: spin 700ms linear infinite;
  margin: auto auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
