@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

body {
  background-image: url("/static/background.svg");
  background-repeat: repeat;
  background-size: cover;
  background-color: #e6e6e6;
}

a {
  text-decoration: none;
  color: #004781;
}

a:visited {
  color: #002b4e;
}

button,
a {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.container, form#login, table {
  width: 90%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 2px 0px 10px 1px #2e2e2e;
          box-shadow: 2px 0px 10px 1px #2e2e2e;
  background-color: rgba(146, 146, 146, 0.5);
  border-radius: 5px;
  margin-bottom: 12px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.two-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
}

.two-col .fillboth {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

form input,
form select {
  font-size: 1.2em;
}

.alert {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.alert.error {
  background-color: rgba(244, 68, 55, 0.8);
}

.alert.warning {
  background-color: rgba(255, 153, 0, 0.8);
}

.alert.ok {
  background-color: rgba(0, 177, 0, 0.8);
}

.alert.message {
  background-color: rgba(33, 149, 243, 0.8);
}

button,
.button {
  border: none;
  background-color: #919191;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 5px;
  -webkit-box-shadow: 2px 0px 5px 1px #2e2e2e;
          box-shadow: 2px 0px 5px 1px #2e2e2e;
  color: black;
}

.button:focus {
  outline-width: thick;
}

.button:visited {
  color: inherit;
}

button.ok,
.button.ok {
  background-color: #007800;
  color: white;
}

button.cancel,
.button.cancel {
  background-color: #780000;
  color: white;
}

button.add,
.button.add {
  padding-top: 0;
  padding-bottom: 0;
}

button:hover,
.button:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  background-color: black;
  color: white;
}

#backhome {
  font-size: 3em;
  float: left;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

form#login {
  padding: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form#login h2 {
  margin-top: 0;
}

#topinfo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 15px;
  font-size: 2em;
}

table {
  padding: 5px;
  background-color: rgba(133, 133, 133, 0.5);
  width: 90%;
}

table tr:hover {
  cursor: pointer;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  background-color: black;
  color: white;
}

table tr:first-child:hover {
  cursor: initial;
  background-color: inherit;
  color: inherit;
}

table tr:first-child > td {
  font-weight: bold;
}

table td {
  border: 1px solid black;
}

table.plain tr {
  cursor: initial;
  background-color: inherit;
  color: inherit;
}

table.plain tr:first-child > td {
  font-weight: initial;
}
