@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap");

:root {
  --bg-image: url("/static/background.svg");
  --main-background: #e6e6e6;
  --content-background: rgba(145, 145, 145, 0.502);
  --dark-text: #000000;
  --light-text: #ffffff;
  --bnt-col: #919191;
  --green: #007800;
  --orange: #ff9900;
  --blue: #2195f3;
  --red: #f44437;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url("/static/background-dark.svg");
    --main-background: #152020;
    --content-background: #1a1a1a9a;
    --dark-text: #e9e9e9;
    --light-text: #e9e9e9;
    --bnt-col: #3b3b3b;
    --green: #015801;
    --orange: #c27400;
    --blue: #1e76be;
    --red: #b4281e;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
select,
textarea {
  color: var(--dark-text);
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

h1,
h2,
h3 {
  color: var(--dark-text);
  font-family: "Roboto", sans-serif;
  text-align: center;
}

body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-image: var(--bg-image);
  background-repeat: repeat;
  background-size: cover;
  background-color: var(--main-background);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

header #datetime {
  font-size: 2em;
}

header h1 {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #004781;
}

a:visited {
  color: #002b4e;
}

button,
a {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.container,
form#login,
table {
  padding: 10px;
  box-shadow: 2px 0px 10px 1px #2e2e2e;
  background-color: var(--content-background);
  border-radius: 5px;
  margin-bottom: 12px;
}

.center {
  display: flex;
  justify-content: center;
}

.down {
  display: flex;
  flex-direction: column;
}

.two-col {
  display: grid;
  grid-template-columns: max-content auto;
}

.two-col .fillboth {
  grid-column: 1 / span 2;
}

form fieldset {
  border: none;
}

textarea,
form input,
form select {
  padding: 4px;
  border: 1px solid black;
  color: var(--dark-text);
  background-color: var(--bnt-col);
}

.alert {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--light-text);
  margin-top: 10px;
  margin-bottom: 10px;
}

.error {
  background-color: var(--red);
}

.warning {
  background-color: var(--orange);
}

.ok {
  background-color: var(--green);
}

.alert.message {
  background-color: var(--blue);
}

button,
.button {
  border: none;
  background-color: var(--bnt-col);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 5px;
  box-shadow: 2px 0px 5px 1px #2e2e2e;
  color: var(--dark-text);
}

.button:focus {
  outline-width: thick;
}

.button:visited {
  color: inherit;
}

button.ok,
.button.ok {
  background-color: var(--green);
  color: white;
}

button.cancel,
.button.cancel {
  background-color: #780000;
  color: white;
}

button.add,
.button.add {
  padding-top: 0;
  padding-bottom: 0;
}

button:hover,
.button:hover {
  transition-duration: 500ms;
  background-color: black;
  color: white;
}

#backhome {
  font-size: 3em;
  float: left;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

form#login {
  padding: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto auto;
}

form#login h2 {
  margin-top: 0;
}

table {
  padding: 5px;
  background-color: rgba(133, 133, 133, 0.5);
}

table tr:hover {
  cursor: pointer;
  transition-duration: 500ms;
  background-color: black;
  color: var(--light-text);
}

table tr:first-child:hover {
  cursor: initial;
  background-color: inherit;
  color: inherit;
}

table tr:first-child>td {
  font-weight: bold;
}

table td {
  border: 1px solid black;
}

table.plain tr {
  cursor: initial;
  background-color: inherit;
  color: inherit;
}

table.plain tr:first-child>td {
  font-weight: initial;
}

@media(max-width:1200px) {
  body {
    width: 100%;
  }
}

@media(max-width: 710px) {
  header {
    flex-direction: column;
    justify-content: center;
  }

  header #datetime {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header #datetime div {
    text-align: center;
  }
}
