{% extends "base.html" %}
{% block title %}Messages - View{% endblock %}
{% block maincontent %}
<a href="{{ url_for('messages.new_message') }}" class="button">New Message</a>
<table id="loaded_data">
    <thead>
        <tr>
            <th>Message</th>
            <th>User From</th>
            <th>Date Added</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        {% for i in messages %}
        <tr>
            <td>{{ i.message }}</td>
            <td>{{ i.user.username }}</td>
            <td>{{ to_human_datetime(i.dateadded) }}</td>
            <td><button class="fill" onclick="delete_message({{ i.id_ }});location.reload();">X</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button type="button" onclick="print_friendly_table('loaded_data', 'Messages', true)">Print</button>
{% endblock %}
