{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block maincontent %}
<form class="container two-col" action="{{ url_for('account.changepassword') }}" method="POST"
    onsubmit="return validate_password('new_password', 'new_password_conf', 'username')">
    <label for="old_password">Current Password</label>
    <input type="password" name="old_password" id="old_password" placeholder="old password..." required>
    <label for="new_password">New Password</label>
    <input type="password" name="new_password" id="new_password" placeholder="new password..." required>
    <label for="new_password_conf">Confirm Password</label>
    <input type="password" name="new_password_conf" id="new_password_conf" placeholder="confirm password..." required>
    <button class="button ok fillboth" type="submit">Change Password</button>
    <a class="button fillboth" href="{{ url_for('home.command_center') }}">Cancel</a>
</form>
{% endblock %}
