{% extends "base.html" %}
{% block title %}User Settings{% endblock %}
{% block maincontent %}
<form class="container two-col" action="{{ url_for('account.settings') }}" method="POST">
    <h3 class="fillboth">Notifications</h3>
    <label for="rem_notif">Reminders Due</label>
    <input type="checkbox" name="rem_notif" id="rem_notif" value="1"{% if the_settings.rem_notif %} checked{% endif %}>
    <label for="fm_notif">Freezer Manager Expiring</label>
    <input type="checkbox" name="fm_notif" id="fm_notif" value="1"{% if the_settings.fm_notif %} checked{% endif %}>
    <label for="mess_notif">New Messages</label>
    <input type="checkbox" name="mess_notif" id="mess_notif" value="1"{% if the_settings.mess_notif %} checked{% endif %}>
    <button type="button" onclick="copy_elem_clipboard('api_key')">Copy API Key</button>
    <div class="two-col">
        <input type="password" id="api_key" readonly value="{{ api_key|string }}" autocomplete="off">
        <input type="checkbox" onchange="pass_show_hide('api_key')"></input>
    </div>
    <button class="button ok fillboth" type="submit">Save</button>
    <a class="button fillboth" href="{{ url_for('home.command_center') }}">Close</a>
</form>


<a class="button" href="{{ url_for('account.changepassword') }}">Change Password</a>
{% endblock %}
