{% extends "base.html" %}
{% block title %}Welcome To The Home Terminal System {{ config["APP_VERSION"] }}{% endblock %}
{% block maincontent %}
    <form id="login" action="{{ url_for("main.do_login") }}" method="POST">
        <h2>Please Login</h2>
        <select name="username" id="username">
            {% for user in users %}
            <option value="{{ user.username }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        <input type="password" name="password" id="password" placeholder="Password..." required autocomplete="off">
        <label for="rememberme"><input type="checkbox" name="rememberme" id="rememberme" checked>Remember Me</label>
        <button class="ok" type="submit">Login</button>
    </form>
{% endblock %}
