<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - HTS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/style.css">
    <script src="/static/scripts/scripts.js"></script>
    <script src="/static/scripts/api.js"></script>
    <script src="/static/scripts/live-update.js"></script>
    {% block extrahead %}{% endblock %}
    {% endblock %}
</head>

<body>
    {% block body %}
    <header>
        {% block header %}
        <nav>
            {% block nav %}
            <div id="datetime">
                <div id="timebox"></div>
                <div id="datebox"></div>
            </div>
            <script>gen_datetime(); setInterval(gen_datetime, 60000);</script>
            {% if current_user.is_authenticated %}
            <a class="button m-left" href="{{ url_for('home.dashboard') }}">Home</a>
            {% else %}
            <a class="button m-left" href="{{ url_for('main.index') }}">Home</a>
            {% endif %}
            <button class="themepicker" onclick="toggle_theme_picker()"></button>
            {% endblock %}
        </nav>
        <h1>{{ self.title() }}</h1>
        <h2>{% block title2 %}{% endblock %}</h2>
        {% endblock %}
    </header>
    {% if current_user.is_authenticated %}
    <div id="notifications">
        {% for notif in get_jinja_notifications() %}
        <div class="alert {{ notif.category }}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>{{ notif.category }}</strong> {{ notif.content }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert {{ category }}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>{{ category }}</strong> {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <main class="down">
        {% block maincontent %}
        {% endblock %}
    </main>
    {% endblock %}
</body>

</html>
