<!DOCTYPE html>
<html lang="en">

<head>
    {% include "includes/head.html" %}
    <title>terminal page</title>
    <script>
        function gen_datetime() {
            var date = new Date();
            var h = date.getHours();
            var m = date.getMinutes();
            var dd = date.getDate();
            var mm = date.getMonth();
            if (h < 10) { h = '0' + h }
            if (m < 10) { m = '0' + m }
            if (dd < 10) { dd = '0' + dd }
            if (mm < 10) { mm = '0' + mm }
            document.getElementById("timebox").innerHTML = `${h}:${m}`;
            document.getElementById("datebox").innerHTML = `${dd}-${mm}-${date.getFullYear()}`;
        }
    </script>
</head>

<body>
    <header id="topinfo">
        <div id="timebox"></div>
        <div id="datebox"></div>
        <script>gen_datetime(); setInterval(gen_datetime, 60000);</script>
    </header>
    {% include "includes/alert.html" %}

    {% for n in notifications %}
    <div class="alert {{ n.category }}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>{{ n.category }}</strong> {{ n.content }}
    </div>
    {% endfor %}
    <main class="down">
        <audio id="timeralarm" src="/static/audio/alarm_1.mp3" preload="auto"></audio>
        <div class="container down">
            <a class="weatherwidget-io container" href="https://forecast7.com/en/51d281d08/canterbury/"
                data-font="Roboto" data-icons="Climacons" data-days="5" data-theme="pure"
                data-basecolor="rgba(0, 0, 0, 0.04)" data-accent="rgba(1, 1, 1, 0)" data-textcolor="#ffffff"
                data-highcolor="#ff0000" data-lowcolor="#0012ff" data-suncolor="#fde925" data-mooncolor="#383838"
                data-cloudcolor="#383838" data-cloudfill="#dddddd" data-raincolor="#0012ff"
                data-snowcolor="#00ffff">Canterbury, UK</a>
            <script>
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
            </script>
            <h2>Messages</h2>
            <a class="button" href="/newmessage">New Message</a>
            <table class="plain" id="loadedmessages">
                {% for message in messages %}
                <tr id="message_{{ message.id_ }}">
                    <td>{{ message.message }}</td>
                    <td><button onclick="delete_message({{ message.id_ }})">Close</button></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="container down">
            <a class="button" href="/cc">Command Center</a>
            <a class="button" href="/timer">Timer</a>
            <a class="button" href="/hwm">Homework Manager</a>
            <a class="button" href="/fm4/report">Freezer Manager 4.0</a>
        </div>

    </main>
</body>

<script src="/static/scripts/socket_code.js"></script>

</html>
