<!DOCTYPE html>
<html lang="en">

<head>
    {% include "includes/head.html" %}
    <title>User Settings</title>
</head>

<body>
    <header>
        <a id="backhome" href="/home"><img width="100px" src="/static/homeicon.svg" alt="home"></a>
        <h1>User Settings</h1>
    </header>

    {% include "includes/alert.html" %}

    <div class="container down">
        <form class="container two-col" action="/usersettings" method="POST">
            <label for="hwm_notif">Homework Notifications</label>
            <input type="number" name="hwm_notif" id="hwm_notif" min="0" max="1" value="{{ the_settings.hwm_notif }}" required>
            <label for="fm_notif">Freezer Manager Notifications</label>
            <input type="number" name="fm_notif" id="fm_notif" min="0" max="1" value="{{ the_settings.fm_notif }}" required>
            <label for="mess_notif">Message Notifications</label>
            <input type="number" name="mess_notif" id="mess_notif" min="0" max="1" value="{{ the_settings.mess_notif }}" required>
            <button class="button ok fillboth" type="submit">Save</button>
            <a class="button fillboth" href="/cc">Close</a>
        </form>
        <a class="button" href="/changepassword">Change Password</a>
        <a class="button" href="/create-api-key">Create Api-key</a>
        <a class="button" href="/get-api-key">Get Api-key</a>
    </div>
</body>

</html>
