{% extends "base.html" %}
{% block title %}Command Center{% endblock %}
{% block maincontent %}
<menu class="container down">
    <a class="button" href="{{ url_for('fm.report') }}">Freezer Manager</a>
    <a class="button" href="{{ url_for('hwm.homework') }}">Homework Manager</a>
    <a class="button" href="{{ url_for('pm.view') }}">Photo Manager</a>
    <a href="{{ url_for('reminder.view') }}" class="button">Reminders</a>
    <a href="{{ url_for('account.settings') }}" class="button">User Settings</a>
    {% if admin %}
    <h3>Admin Only:</h3>
    <a class="button" href="{{ url_for('account.newaccount') }}">New Account</a>
    {% endif %}
    <a class="button" href="{{ url_for('main.do_logout') }}">Logout</a>
</menu>
{% endblock %}
