{% extends "base.html" %}
{% block title %}Reminders{% endblock %}
{% block title2 %}View{% endblock %}
{% block maincontent %}
<div class="container down">
    <a href="{{ url_for('reminder.new') }}" class="button ok">New Reminder</a>
</div>
<form class="container two-col" action="{{ url_for('reminder.view') }}" method="POST">
    <label for="reminder-type-id">Type:</label>
    <select name="reminder-type-id" id="reminder-type-id">
        <option value="">** Select All **</option>
        {% for type in types %}
        <option value="{{ type.id_ }}"{% if r_type_id==type.id_ %} selected{% endif %}>{{ type.type_name }}</option>
        {% endfor %}
    </select>
    <label for="show-removed">Show Removed:</label>
    <input type="checkbox" name="show-removed" id="show-removed" value="1">
    <button type="submit" class="fillboth">Display</button>
</form>

<table id="loaded_data">
    <thead>
        <tr>
            <th>Content</th>
            <th>Type</th>
            <th>Priority</th>
            <th>Notify Date</th>
            <th>User For</th>
        </tr>
    </thead>
    <tbody>
        {% for i in reminders %}
        <tr onclick="window.location = `{{ url_for('reminder.edit', reminder_id=i.id_)}}`">
            <td>{{ i.content }}</td>
            <td>{{ i.reminder_type.type_name }}</td>

            <td{% if i.is_priority %} class="error"{% endif %}>{{ i.is_priority }}</td>
            <td>{{ to_human_datetime(i.datedue) }}</td>
            <td>{{ i.user_for.username }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button type="button" onclick="print_friendly_table('loaded_data', 'Reminders')">Print</button>
{% endblock %}
