{% extends "base.html" %}
{% block title %}Photo Manager{% endblock %}
{% block title2 %}New{% endblock %}
{% block maincontent %}
<form class="container two-col" action="{{ url_for('pm.new') }}" method="POST" , enctype=multipart/form-data>
    <label for="mainloc">Main Location:</label>
    <select name="mainloc" id="mainloc" required
        onchange="start_load_options_to_select('subloc',`{{ url_for('pm.get_subloc') }}`,this.value, '** Select An Option **')">
        <option value="">** Select An Option **</option>
        {% for mainloc in main_locations %}
        <option value="{{ mainloc.name }}">{{ mainloc.name }}</option>
        {% endfor %}
    </select>
    <label for="subloc">Sub Location:</label>
    <select name="subloc" id="subloc" required disabled></select>
    <label for="">Users:</label>
    <div class="down">
        {% for user in users %}
        <label>{{ user.username }}<input type="checkbox" name="user" id="user-{{ user.username }}"
                value="{{ user.username }}"></label>
        {% endfor %}
    </div>
    <label for="datetaken">Date Taken:</label>
    <input type="date" name="datetaken" id="datetaken" required>
    <label for="notes">Notes:</label>
    <textarea name="notes" id="notes" cols="30" rows="5" placeholder="Enter notes here..."></textarea>
    <label for="pic">Thumbnail:</label>

    <!-- TODO: get allowed types here instead -->
    <input type="file" name="pic" id="pic" accept="image/*">
    <button class="button ok fillboth" type="submit">Save</button>
    <a href="{{ url_for('pm.view') }}" class="button fillboth">Close</a>
</form>
{% endblock %}
