{% extends "base.html" %}
{% block title %}HWM1 New Tasks{% endblock %}
{% block maincontent %}
<form class="container two-col" id="hw-tasks_form" action="/hwm/new-task" method="POST">
    <label for="hw_id">Homework id:</label>
    <input type="text" name="hw_id" id="hw_id" value="{{ hw_id }}" required readonly>
    <button type="button" class="button fillboth" onclick="new_task()">New Task</button>
    <div class="fillboth down" id="created_tasks">
        <!-- where new tasks are added -->
    </div>
    <button class="button ok fillboth" type="submit">Save</button>
    <a class="button fillboth" href="/hwm/view-tasks?homework_id={{ hw_id }}">Close</a>
</form>
{% endblock %}
