{% extends "base.html" %}
{% block title %}HWM1 View Tasks{% endblock %}
{% block maincontent %}
<div class="container down">
    <a href="{{ url_for('hwm.homework') }}" class="button">Back</a>
    <a href="/hwm/remove?homework_id={{ hw_id }}" class="button">Remove Homework</a>
    <button class="button ok" onclick="window.location = '/hwm/new-task?homework_id={{ hw_id }}'">New Task</button>

    <table>
        <caption>Homework: {{ hw_id }}</caption>
        <tr>
            <td>id</td>
            <td>content</td>
        </tr>
        {% for i in tasks %}
        <tr>
            <td>{{ i.id_ }}</td>
            <td>{{ i.content }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
