{% extends "base.html" %}
{% block title %}Reminders - View{% endblock %}
{% block maincontent %}
<a href="{{ url_for('reminder.new') }}" class="button ok">New Reminder</a>
<form class="two-col" action="{{ url_for('reminder.view') }}" method="POST">
    <label for="typename">Type:</label>
    <select name="reminder-type" id="reminder-type">
        <option value="">SELECT ALL</option>
        {% for type in types %}
        <option value="{{ type.id_ }}">{{ type.type_name }}</option>
        {% endfor %}
    </select>
    <label for="show-removed">Show Removed:</label>
    <input type="checkbox" name="show-removed" id="show-removed" value="1">
    <button type="submit" class="fillboth">Display</button>
</form>

<table>
    <thead>
        <tr>
            <th>Content</th>
            <th>Type</th>
            <th>Priority</th>
            <th>Notify Date</th>
            <th>User For</th>
        </tr>
    </thead>
    <tbody>
        {% for i in reminders %}
        <tr onclick="window.location = `{{ url_for('reminder.edit', reminder_id=i.id_)}}`">
            <td>{{ i.content }}</td>
            <td>{{ i.reminder_type.type_name }}</td>
            {% if i.is_priority %}
            <td class="error">True</td>
            {% else %}
            <td class="warning">False</td>
            {% endif %}
            <td>{{ i.get_day_first_date() }}</td>
            <td>{{ i.user_for.username }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
