<!-- TODO: add server-status -->
<!-- TODO: add reboot/shutdown control -->
<!-- TODO: add backup button -->

<!DOCTYPE html>
<html lang="en">

<head>
    {% include "includes/head.html" %}
    <title>Server Control</title>
</head>

<body>
    <header>
        <a id="backhome" href="/home"><img width="100px" src="/static/homeicon.svg" alt="home"></a>
        <h1>Server Control</h1>
    </header>

    {% include "includes/alert.html" %}

    <div class="container down">
        <button class="button">Server Shutdown</button>
        <button class="button">Server Reboot</button>
        <a href="/status" class="button">Server Status</a>
    </div>

</body>

</html>
