{% extends "base.html" %}
{% block title %}Inventory Manager{% endblock %}
{% block title2 %}{% if item_type %}Edit Type{% else %}New Type{% endif %}{% endblock %}
{% block maincontent %}
<form class="container two-col" action="" method="post">
    <label for="type-name">Name:</label>
    <input type="text" name="type-name" id="type-name" required {% if item_type %}value="{{ item_type.name }}" {% endif
        %}>

    {% if item_type %}
    {% if item_type.removed %}
    <a href="{{ url_for('im.restore_type', type_id=item_type.id_) }}" class="button fillboth">Restore</a>
    {% else %}
    <a href="{{ url_for('im.remove_type', type_id=item_type.id_) }}" class="button error fillboth">Remove</a>
    {% endif %}
    {% endif %}

    <button class="ok fillboth" type="submit">Save</button>
    <a class="fillboth button" href="{{ url_for('im.view') }}" class="button">Cancel</a>
</form>
{% endblock %}
