{% extends "base.html" %}
{% block title %}Freezer Manager{% endblock %}
{% block title2 %}Edit{% endblock %}
{% block maincontent %}
<form class="container two-col" action="{{ url_for('fm.edit', item_id=def_item.id_) }}" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" placeholder="Name..." value="{{ def_item.name }}" required>
    {% if def_item.id_ == None %}
    <label id="custom_expire_label" for="custom_expire">Custom Expire:</label>
    <input onchange="custom_expire_onclick()" type="checkbox" name="custom_expire" id="custom_expire" value="1">
    <label id="expire_date_label" for="expire_date" style="display:none">Expire Date:</label>
    <input type="date" name="expire_date" id="expire_date" disabled style="display:none">
    <label id="expire_select_label" for="expire_select">Expire in Months:</label>
    <fieldset id="expire_select">
        <label>3<input type="radio" name="expire" id="expire_3" value="3" required></label>
        <label>6<input type="radio" name="expire" id="expire_6" value="6" required></label>
        <label>12<input type="radio" name="expire" id="expire_12" value="12" required></label>
    </fieldset>
    {% endif %}
    <label for="amount">Quantity:</label>
    <input type="number" name="amount" id="amount" step="1" min="1" value="{{ def_item.quantity }}">
    <label for="category">Category:</label>
    <input type="text" name="category" id="category" list="categories" autocomplete="off"
        value="{{ def_item.category.name }}" required>
    <datalist name="categories" id="categories">
        {% for cat in categories %}
        <option value="{{ cat.name }}">{{ cat.name }}</option>
        {% endfor %}
    </datalist>
    <label for="removed">Remove:</label>
    <input type="checkbox" name="removed" id="removed" value="1">

    <button class="button ok fillboth" type="submit">Save</button>
    <a class="button fillboth" href="{{ url_for('fm.report') }}">Close</a>
</form>
{% endblock %}
