{% extends "base.html" %}
{% block title %}Freezer Manager - Expiring{% endblock %}
{% block maincontent %}
<a href="{{ url_for('fm.report') }}" class="button">Back</a>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Expire</th>
            <th>Quantity</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        {% for i in items %}
        <tr onclick="window.location = `{{ url_for('fm.edit') + '?item_id=' + i.id_|string }}`">
            <td>{{ i.name }}</td>
            <td>{{ i.get_day_first_date() }}</td>
            <td>{{ i.quantity }}</td>
            <td>{{ i.categoryname }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
