{% extends "base.html" %}
{% block title %}Freezer Manager - Report{% endblock %}
{% block maincontent %}
<a href="{{ url_for('fm.report_expiring') }}" class="button">Report of Expiring</a>
<div class="center">
    <form action="{{ url_for('fm.report') }}" method="POST">
        <label for="category">Category:</label>
        <select name="category" id="category">
            <option value="">SELECT ALL</option>
            {% for cat in categories %}
            <option value="{{ cat.id_ }}"{% if cat_id_selected==cat.id_ %} selected{% endif %}>{{ cat.name }}
            </option>
            {% endfor %}
        </select>
        <button class="button ok" type="submit">Display</button>
    </form>
    <a class="button add" href="{{ url_for('fm.edit') }}">Add Entry</a>
</div>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Expire</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for i in items %}
        <tr onclick="window.location = `{{ url_for('fm.edit', item_id=i.id_) }}`">
            <td>{{ i.id_ }}</td>
            <td>{{ i.name }}</td>
            <td{% if i.has_expired %} class="error" {% endif %}>{{ to_human_datetime(i.expire_date) }}</td>
                <td>{{ i.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
