{% extends "base.html" %}
{% block title %}Freezer Manager{% endblock %}
{% block title2 %}Expiring{% endblock %}
{% block maincontent %}
<a href="{{ url_for('fm.report') }}" class="button">Back</a>
<table id="loaded_data">
    <thead>
        <tr>
            <th>Name</th>
            <th>Expire</th>
            <th>Quantity</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        {% for i in items %}
        <tr onclick="window.location = `{{ url_for('fm.edit', item_id=i.id_) }}`">
            <td>{{ i.name }}</td>
            <td{% if i.has_expired %} class="error"{% endif %}>{{ to_human_datetime(i.expire_date) }}</td>
            <td>{{ i.quantity }}</td>
            <td>{{ i.category.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button type="button" onclick="print_friendly_table('loaded_data', 'Freezer Manager Expiring Items')">Print</button>
{% endblock %}
