{% extends "base.html" %}
{% block title %}Photo Manager - New{% endblock %}
{% block maincontent %}
<form class="container two-col" action="{{ url_for('pm.new') }}" method="POST", enctype=multipart/form-data>
    <label for="mainloc">Main Location:</label>
    <input onchange="start_load_options_to_select('sublocations',`{{ url_for('pm.get_subloc') }}`,this.value)" type="text"
        name="mainloc" id="mainloc" list="mainlocations" autocomplete="off" required>
    <datalist name="mainlocations" id="mainlocations">
        {% for mainloc in main_locations %}
        <option value="{{ mainloc.name }}">{{ mainloc.name }}</option>
        {% endfor %}
    </datalist>
    <label for="subloc">Sub Location:</label>
    <input type="text" name="subloc" id="subloc" list="sublocations" autocomplete="off" required>
    <datalist name="sublocations" id="sublocations"></datalist>
    <label for="loc_selections">Co-ordinates</label>
    <div id="loc_selections" class="down">
        <input type="number" name="lat" id="lat" placeholder="lat..." value="0">
        <input type="number" name="lng" id="lng" placeholder="lng..." value="0">
    </div>

    <label for="">Users:</label>
    <div class="down">
        {% for user in users %}
        <label>{{ user.username }}<input type="checkbox" name="user" id="user-{{ user.username }}"
                value="{{ user.username }}"></label>
        {% endfor %}
    </div>
    <label for="datetaken">Date Taken:</label>
    <input type="date" name="datetaken" id="datetaken" required>
    <label for="notes">Notes:</label>
    <textarea name="notes" id="notes" cols="30" rows="5" placeholder="Enter notes here..."></textarea>
    <label for="pic">Thumbnail:</label>

    <!-- TODO: get allowed types here instead -->
    <input type="file" name="pic" id="pic" accept="image/*">
    <button class="button ok fillboth" type="submit">Save</button>
    <a href="{{ url_for('pm.view') }}" class="button fillboth">Close</a>
</form>
{% endblock %}
