{% extends "base.html" %}
{% block title %}Photo Manager - Report{% endblock %}
{% block maincontent %}
<div class="center down">
    <a class="button" href="{{ url_for('pm.edit_sub_location') }}">Add Location</a>
    <a class="button" href="{{ url_for('pm.new') }}">Add Entry</a>
    <form class="container two-col" action="{{ url_for('pm.view') }}" method="POST">
        <label for="main-location">Main Location:</label>
        <select
            onchange="start_load_options_to_select('sub-location',`{{ url_for('pm.get_subloc') }}`,this.value, '** Show All **')"
            name="main-location" id="main-location">
            <option value="">** Show All **</option>
            {% for i in main_locations %}
            <option value="{{ i.name }}">{{ i.name }}</option>
            {% endfor %}
        </select>
        <label for="sub-location">Sub Location:</label>
        <select name="sub-location" id="sub-location" disabled></select>
        <label for="sort-by-date">Sort By Date</label>
        <fieldset id="sort-by-date">
            <label for="sort-by-date-desc">Descending</label>
            <input type="radio" id="sort-by-date-desc" name="sort-by-date" value="0" checked>
            <label for="sort-by-date-asc">Ascending</label>
            <input type="radio" id="sort-by-date-asc" name="sort-by-date" value="1">
        </fieldset>
        <button class="button ok fillboth" type="submit">Display</button>
    </form>
    <h2>Filter by: {{ filter_by }}</h2>
    <table id="loaded_data">
        <thead>
            <tr>
                <th>Date</th>
                <th>Notes</th>
                <th>Location</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for i in loaded_entries %}
            <tr>
                <td>{{ to_human_datetime(i.date_taken) }}</td>
                <td><pre>{{ i.notes }}</pre></td>
                <td>{{ i.sub_location.main_location.name }} > {{ i.sub_location.name }}</td>
                <td><img style="width: 200px;" onerror="this.style.display='none'" src="{{ url_for('pm.thumbnail', event_id=i.id_) }}" alt="event image"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" onclick="print_friendly_table('loaded_data', 'Photo Manager', true)">Print</button>
</div>
{% endblock %}
